*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#f6f2ec;
  color:#2b2b2b;
}

/* Header */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  position:fixed;
  width:100%;
  background:rgba(246,242,236,0.95);
  z-index:10;
}

.logo{
  font-size:30px;
  letter-spacing:4px;
  color:#c9a24d;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:#2b2b2b;
  font-weight:500;
}

/* Hero */
.hero{
  height:100vh;
  background:url("img/hero.jpg") center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
}

.hero-box{
  background:rgba(255,255,255,0.85);
  padding:50px;
  text-align:center;
  animation:fadeUp 2s;
}

.hero-box h1{
  font-size:50px;
  color:#c9a24d;
}

.hero-box p{
  margin:15px 0;
  font-size:18px;
}

.hero-box button{
  padding:12px 30px;
  border:none;
  background:#c9a24d;
  color:white;
  font-size:15px;
  cursor:pointer;
}

/* Products */
.products{
  padding:90px 40px;
  text-align:center;
}

.products h2{
  color:#c9a24d;
  margin-bottom:50px;
  font-size:32px;
}

.cards{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  width:300px;
  background:white;
  box-shadow:0 15px 40px rgba(0,0,0,0.15);
  transition:0.4s;
}

.card:hover{
  transform:translateY(-15px);
}

.card img{
  width:100%;
}

.card h3{
  padding:20px;
}

/* About */
.about{
  padding:80px;
  background:#ede7df;
  text-align:center;
}

footer{
  padding:20px;
  text-align:center;
  color:#777;
}

/* Animation */
@keyframes fadeUp{
  from{opacity:0; transform:translateY(40px);}
  to{opacity:1; transform:translateY(0);}
}

/* Responsive */
@media(max-width:768px){
  .header{
    flex-direction:column;
    gap:10px;
  }
  .hero-box h1{
    font-size:34px;
  }
}
